@charset "UTF-8";

/* キャラクター設定画面 */

/*上の説明文*/
.chara-info{
    text-align: center;
    margin-top: 30px;
}

/*キャラ選択ボタン*/
#characterBtn,#nameBtn{
    background: linear-gradient(135deg, #ffb8cc, #ffd9e7);
    box-shadow: 0 5px 15px rgba(255,170,190,0.35);font-size: 30px;   
    color:#fff;
    width: 200px;
    height: 130px;
    border-radius: 30px;
    border: none; 
    margin-top: 50px;
    cursor: pointer;
    
}

/*ボタン動き*/
#characterBtn,#nameBtn,#backBtn{
    transition: transform 0.2s ease-out;
}

#characterBtn:hover,#nameBtn:hover,#backBtn:hover{
    transform: scale(0.95); 
}

/*イラスト２つの大きさ*/
.image-item{
    width: 200px; 
    height: auto; 
}
    
 /*イラスト２つの位置*/
.whole-image{
    justify-content: center;
    display: flex; 
    gap: 500px;
}

/*キャラの自己紹介*/
.self-introduction{
    background-color: #f8f8f8;
    font-size: 16px;
    padding: 15px;
    width: 250px;
    height: 200px;
    border-radius: 30px;
}

/*自己紹介と選択ボタンのグループ化*/
.text-button{
    justify-content: center;
    display: flex; 
    gap: 50px; 
}

/*戻るボタン*/
#backBtn{
   background: linear-gradient(135deg, #ffb8cc, #ffd9e7);
	border: 3px solid #ffd6e7;
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
	color:#fff;
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(0,0,0,0.15);
	transition: 0.2s;
}