@charset "UTF-8";

.top-decoration {
	height: 40px;
	background: linear-gradient(135deg, #FFB8CC, #FFD9E7); border-radius :
	0 0 20px 20px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
	border-radius: 0 0 20px 20px;
}

/*上の説明文*/
.charachange-info{
   justify-content: center; 
    display: flex;      
    align-items: center; 
    gap: 10px;  
}

/*上の説明文*/
.charachange-info2{
    text-align: center;
}

/*イラストの位置*/
.whole-image{
    justify-content: center;
    display: flex;
    gap: 200px;
}


/*犬か猫か選ばせるボタン*/
#animal-submit{  
    background: linear-gradient(135deg, #ffb8cc, #ffd9e7);
    box-shadow: 0 5px 15px rgba(255,170,190,0.35);
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    height: 70px;
    border-radius: 30px;
    border: none;
    
}


.box-outer{
    background-color:#FFF9FA;
    padding: 70px;
    border-radius: 40px;
}




/*２つのイラスト　触ると動く設定*/
.dog-image,.cat-image,#backBtn{
	
    transition: transform 0.2s ease-out; 
}

.dog-image:hover,.cat-image:hover,#backBtn:hover{
    transform: scale(0.95); 
}

/*戻るボタン*/
#backBtn{
    background: linear-gradient(135deg, #ffb8cc, #ffd9e7);
	border: 3px solid #ffd6e7;
	border-radius: 20px;
	padding: 10px 20px;
	margin-top:10px;
	font-size: 18px;
	font-weight: bold;
	color:#fff;
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(0,0,0,0.15);
	transition: 0.2s;
}

#nikukyuu1{
	margin-left:200px;
}
#nikukyuu2{
	 display: block;
	 margin-left: auto;
	 margin-right:200px;
}