@charset "UTF-8";

/*上の説明文*/
.charachange-info{
    text-align: center;
    margin-top: 30px;
}

/*イラストの位置*/
.whole-image{
    justify-content: center;
    display: flex;
    margin: 130px;
    gap: 200px;
}


/*犬か猫か選ばせるボタン*/
#animal-submit{  
    background: linear-gradient(135deg, #ffb8cc, #ffd9e7);
    box-shadow: 0 5px 15px rgba(255,170,190,0.35);
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    height: 70px;
    border-radius: 30px;
    border: none;
    
}



/*２つのイラスト　触ると動く設定*/
.dog-image,.cat-image{
	
    transition: transform 0.2s ease-out; 
}

.dog-image:hover,.cat-image:hover{
    transform: scale(0.95); 
}