@charset "UTF-8";

/* ログイン画面,新規会員登録 */
.loginsize{
    margin-left: 160px;  
}

.top{
    font-size: 30px;
    border-bottom: 4px solid rgba(255,170,190,0.35);
    width: 1200px; 
    padding-bottom: 5px;
}

#id,#pw {
    font-size: 15px; 
    padding: 10px;       
    width: 400px; 
    border-radius:30px;      
    border:1px solid #ffb8cc; 
}

.submit{
  	background: linear-gradient(135deg, #ffb8cc, #ffd9e7);
    box-shadow: 0 5px 15px rgba(255,170,190,0.35);
    color: #fff;
    padding: 15px;       
    width: 150px; 
    border-radius: 30px;
    border: none;
}

/*リンク触った時など　まだ色未定で適当*/
    .nav a:link{
    color: rgb(21, 53, 141);
    text-decoration: none;  }

    .nav a:visited{
    color: rgb(87, 39, 168);
    text-decoration: none;  }

    .nav a:hover{
    color: rgb(226, 16, 16);
    text-decoration: underline;  }

    .nav a:active{
    color: rgb(228, 16, 16);
    text-decoration: underline;  }
